<div class="content-block poem-content-block">
  <div class='poem' id="{{domId}}">
    <p class='app-date'>
      {{appDate}}
    </p>

    {{#if title}}
      <h3>{{title}}</h3>
    {{/if}}

    <div class='poem-body'>{{{ contentHtml }}}</div>

    <div class='poem-extra'>
      <p class='author'>{{author}}</p>

      {{#if year}}
        <p class='date'>{{year}} г</p>
      {{/if}}

      <p class='source'{{source}}</p>
    </div>
  </div>
</div>
