<div class="content-block poem-content-block">
  <div class='poem' id="{{domId}}">
    <p class='app-date'>{{ appDate }}</p>

    {{#if title}}
      <h3>{{title}}</h3>
    {{/if}}

    <div class='poem-body'>{{{ contentHtml }}}</div>

    <div class='poem-extra'>
      <p class='author'>{{author}}</p>

      {{#if year}}
        <p class='date'>{{year}} г</p>
      {{/if}}

      {{#source}}
      <p class='source'{{source}}</p>
      {{/source}}
    </div>

    <div class='poem-controls row'>
      <div class="col-50 poem-number pull-left">#&thinsp;{{id}}</div>
      <div class="col-50 poem-button-actions pull-right">
        <a href='#' class='action x-like'>
          <i class='icon icon-like gray {{filledIf liked}}'></i>
        </a>
      </div>
    </div>
  </div>
</div>
