- poem = data.poem_details[poem_id]
- content_for(:page_title) { "#{poem.author} – #{poem_title}" }
- content_for :head do
  %meta{name: "apple-itunes-app", content: "app-id=#{data.site.appstore_id}, app-argument=poems/#{poem_id}"}

.container
  %header.poem-header
    = link_to '/' do
      = image_tag "favicon-round.png", width: 40, height: 40, class: 'logo'
      %span.title= data.site.title

  %article.poem
    / %p.poem-date

    - if poem_title
      %h2.poem-title= poem_title
    .poem-body= poem.contentHtml
    .poem-extra
      - if poem.author
        %p.poem-author
          %span.poem-id= "№&thinsp;#{poem.id}"
          = poem.author
      - if poem.year
        %p.poem-year= poem.year
      - if poem.source
        %p.poem-source= poem.source

  %footer.poem-footer
    .poem-stores
      %span.appstore-badge= badge "appstore"
      -# %span.playstore-badge= badge "playstore"

    .poem-copy
      %p= data.site.copyright
