{{#navbarBox}}
  <div class="left">
    {{#unless slided}}
      {{ navbar-button linkClass="open-panel" iconType="menu" }}
    {{else}}
      {{ navbar-button linkClass="back" iconType="back" }}
    {{/unless}}
  </div>
  <div class="center sliding">
    <span class='app-title'>Стих Дня</span>
  </div>
  <div class="right">
    {{ navbar-button linkClass="x-random" iconType="random" }}
    {{ navbar-button linkClass="x-share" iconType="share" }}
  </div>
{{/navbarBox}}

<div data-page="index" class="page">
  <div class="page-content main-page-content">
    <x-swiper id='poem-swiper'>
      <x-swiper-viewport data-shift="0">
        <x-swiper-slide class='prev'></x-swiper-slide>
        <x-swiper-slide class='current'></x-swiper-slide>
        <x-swiper-slide class='next'></x-swiper-slide>
      </x-swiper-viewport>
    </x-swiper>
  </div>
  {{!-- <div class="toolbar toolbar-bottom">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 1</a>
      <a href="#" class="link">Link 2</a>
      <a href="about.html" class="link ajax">About</a>
    </div>
  </div> --}}
</div>
