<!DOCTYPE html>
<%
  APP_THEME_NAME = 'material'
  APP_THEME_NAME = 'ios'
  if (APP_THEME) { APP_THEME_NAME = APP_THEME }
%>
<html class="<%= APP_THEME_NAME %>">
  <% conf = htmlWebpackPlugin.options %>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:;">
    <title>Стих Дня</title>
    <link href='<%= conf.targetDir %>app_<%= APP_THEME_NAME %>.css' rel='stylesheet'>
    <link href="<%= conf.targetDir %>app.css" rel="stylesheet">
    <script src="cordova.js"></script>
    <script src="<%= conf.targetDir %>lib.js"></script>
    <script src="<%= conf.targetDir %>app.js"></script>
    <script>
      window.APP_THEME_NAME = '<%= APP_THEME_NAME %>'
    </script>
  </head>

  <body class="theme-orange">
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-cover sidebar" id='sidebar'>
      <div class="panel-statusbar-overlay"></div>
      <div class="sidebar-content"></div>
    </div>

    <div class="views">
      <div class="view view-main left-view">
        <div class="pages navbar-fixed" id='pages'></div>
      </div>
    </div>
  </body>
</html>
